/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(198deg, rgba(253,253,253,1) 0%, rgba(250,250,250,1) 56%, rgba(241,241,241,1) 100%); /* Degradado original */
}

#contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(198deg, rgba(253,253,253,1) 0%, rgba(250,250,250,1) 56%, rgba(241,241,241,1) 100%); /* Degradado original */
}

/* tabla */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%; /* Ocupa el 100% del contenedor */
    table-layout: fixed; /* Distribuye las columnas de manera uniforme según el ancho especificado */
    font-size: 16px;
}

/* Establecer el ancho de las columnas */
th:nth-child(1), td:nth-child(1) {
    width: 32%;
}

th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4) {
    width: 18%;
}

/* Estilo para las celdas y encabezados */
th, td {
    border: 1px solid #e0e0e0;
    padding: 0px 1px;
    text-align: center;
    line-height: 1.2;
    height: 37px; /* Altura original de las filas */
}

/* Encabezados */
th {
    background: #0C964E;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Primera columna con fondo destacado */
td:first-child {
    background-color: #ABFFBF;
}

/* Estilo para las celdas deshabilitadas (vacías) */
td.disabled {
    background-color: #ABB2B9;
    color: #bbb;
}

/* Estilo para los selectores */
td select {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #007bff;
    height: 26px;
    padding: 2px 5px;
}

/* Cambiar el color del texto a rojo si el valor seleccionado es "C" */
select.red-text {
    color: red !important;
}

select.blue-text {
    color: blue !important;
}

button {
    background-color: #0C964E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0C964E;
}

#instrucciones {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Contenedor para el select y el botón */
#grado-y-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 20px;
}

/* Contenedor específico para el label y el select */
.grado-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Estilo común para el select y el botón */
#grado-y-boton select, 
#grado-y-boton button {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 40px;
    line-height: 24px;
    margin: 0;
}

/* Estilo específico para el botón */
#grado-y-boton button {
    background-color: #0C964E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#grado-y-boton button:hover {
    background-color: #0F5631;
}

/* Etiqueta del select */
.grado-container label {
    font-weight: bold;

}

#resultado {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 75%;
    margin: 20px auto;
    background-color: #e3f2fd;
    border: 2px solid #4c81c7;
}

#resultado p {
    margin: 5px 0;
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    display: none;
    z-index: 1000;
}

.hidden {
    display: none;
}

.whatsapp-button {
    display: block;             /* Hace que el botón ocupe toda la línea */
    width: 300px;               /* Ancho del botón para escritorio */
    height: 60px;               /* Alto del botón */
    margin: 20px auto;          /* Centra el botón horizontalmente */
    text-align: center;         /* Centra el contenido dentro del botón */
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {

    /* Fondo para el body en móviles */
    body {
        background: linear-gradient(198deg, rgba(253,253,253,1) 0%, rgba(250,250,250,1) 56%, rgba(241,241,241,1) 100%) !important;
    }

    /* Fondo para el contenedor en móviles */
    #contenedor {
        width: 100%;
        background: linear-gradient(198deg, rgba(253,253,253,1) 0%, rgba(250,250,250,1) 56%, rgba(241,241,241,1) 100%);
    }

    /* Ajustar la fuente de la tabla */
    table {
        font-size: 11px; /* Mantener el tamaño de fuente */
        width: 100%; /* Asegurarse de que ocupe todo el ancho disponible */
    }

    /* Ajustes de los encabezados */
    th {
        background: #0C964E;
        color: white;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
    }

    /* Aumentar la altura de las filas */
    th, td {
        height: 35px !important; /* Aumentar la altura de las celdas */
    }

    /* Ajustes para los botones */
    button {
        padding: 12px 18px; /* Aumentar el padding si es necesario */
        font-size: 10px; /* Ajustar el tamaño de la fuente */
        text-overflow: ellipsis; /* Si el texto es demasiado largo, se usa '...' */
        overflow: hidden; /* Ocultar el texto desbordado */
        min-width: 130px; /* Definir un ancho mínimo para el botón */
        min-height: 60px; /* Definir un ancho mínimo para el botón */
        width: auto; /* Dejar que el botón se ajuste según el contenido */
    }

    /* Ajustes para los select dentro de la tabla */
    td select {
        width: 70%; /* Asegurar que los select ocupen todo el ancho disponible de la celda */
        box-sizing: border-box; /* Asegurar que el padding y border no afecten el ancho total */
        padding: 5px !important; /* Agregar un poco de padding */
    }

    /* Ajustes para el ancho de cada columna */
    th:nth-child(1), td:nth-child(1) {
        width: 32%; /* Ancho de la primera columna */
    }
    th:nth-child(2), td:nth-child(2) {
        width: 17%; /* Ancho de la segunda columna */
    }
    th:nth-child(3), td:nth-child(3) {
        width: 17%; /* Ancho de la tercera columna */
    }
    th:nth-child(4), td:nth-child(4) {
        width: 17%; /* Ancho de la cuarta columna */
    }
    th:nth-child(5), td:nth-child(5) {
        width: 17%; /* Ancho de la quinta columna */
    }
	
    .whatsapp-button {
        width: 100px !important; /* Ajusta el ancho en móviles */
        margin: 10px auto !important; /* Centra el botón en móviles */
        display: flex;
        justify-content: center; /* Asegura que esté centrado */
    }

}

/* Estilo específico para el enlace de descarga */
#download-link {
    display: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #1C9C56;
    margin-top: 20px;
    cursor: pointer;
}

#download-link:hover {
    color: #0C964E;
}
